body{
  background-color: var(--blueSky);
}

.cloudBtn{
  background-color: var(--cloud);
}

.hill1{
  background-color: var(--lGreenHill);
  position: fixed;
  z-index: 0;
  bottom: 0;
  right:-5vw;
  width:120vw;
  height: 52vh;
  border-radius: 60% 75% 0 0;
}

.hill2{
  background-color: var(--dGreenHill);
  position: fixed;
  z-index: -1;
  bottom: -5vw;
  right:-40vw;
  width:120vw;
  height: 58vh;
  border-radius: 80% 65% 0 0;
}