body{
  background-color: var(--blueSky);
}

header{
  text-align: center;
}

h1{
  font-family: "Pangolin", cursive;
  margin: 1em auto;
}

main{
  margin: 1rem;
}

button{
  font-family: "Pangolin", cursive;
  color: var(--dpText);
  margin: auto;
}

.notLoggedInHome{
  text-align: center;
}

.cloudBtn{
  border: none;
  background-color: transparent;
  background-image: url(../public/images/cloud.svg);
  font-size: 1.6em;
  width: 6.25em;
  height: 4.3em;
  font-family: "Pangolin", cursive;
}

.hill1{
  background-color: var(--lGreenHill);
  position: fixed;
  z-index: 0;
  bottom: 0;
  right:-5vw;
  width:120vw;
  height: 52vh;
  border-radius: 60% 75% 0 0;
}

.hill2{
  background-color: var(--dGreenHill);
  position: fixed;
  z-index: -1;
  bottom: -5vw;
  right:-40vw;
  width:120vw;
  height: 58vh;
  border-radius: 80% 65% 0 0;
}

.hill3{
  display: none;
}

.taskSign{
  background-color: var(--sign);
  border: solid 0.5em var(--wood);
  width: fit-content;
  height: fit-content;
}

.newTask{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskyZone{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.tasky{
  max-width: 8em;
  margin-bottom: 1em;
}

.dialog{
  background-color: var(--sign);
  border-radius: 1.5em;
  max-width: 20em;
  padding: 1em;
  margin: 1em;
}

.seperatorTxt{
  color: var(--blueGrayText);
  text-align: center;
}

.manualTaskBtn{
  margin: 0.5em;
}

input[type=text]{
  outline-color: var(--dGreenHill);
}

input[type=text]:focus{
  outline-color: var(--lGreenHill);
}

.taskForm input{
  display: block;
  margin: auto;
}

main.task{
  background-color: var(--sign);
  border: solid 0.5em var(--wood);
  padding: 1em;
  width: fit-content;
  height: fit-content;
  
}

.taskyCircle{
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width:750px){
  .hill1{
    bottom: -3vh;
    height: 55vh;
    border-radius: 80% 115% 0 0;
  }
  
  .hill2{
    bottom: -4vw;
    width:110vw;
  }
  
  main{
    max-width: 70%;
    margin: 1rem auto;
  }
}

@media screen and (min-width:950px){
  .hill1{
    bottom: -3vh;
    left:-8vw;
    width:80vw;
    height: 56vh;
    border-radius: 150% 220% 0 0;
  }
  
  .hill2{
    bottom: -3vw;
    right:-22vw;
    width:80vw;
    height: 59vh;
    border-radius: 80% 65% 0 0;  
  }

  .hill3{
    display: block;
    background-color: var(--lGreenHill);
    position: fixed;
    z-index: 0;
    bottom: 0;
    right:-25vw;
    width: 60vw;
    height:35vh;
    border-radius: 90% 85% 0 0;
  }

}

@media screen and (min-width: 1200px) {
  main{
    max-width: 60%;
  }
}

.navBar {
  background-color: #f1f1f1;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.navBar select {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
