body{
  background-color: var(--blueSky);
}

header{
  text-align: center;
}

.cloudBtn{
  border: none;
  background-color: transparent;
  background-image: url(../public/images/cloud.svg);
  width: 5em;
  height: 3.5em;
  font-family: "Pangolin", cursive;
}

.hill1{
  background-color: var(--lGreenHill);
  position: fixed;
  z-index: 0;
  bottom: 0;
  right:-5vw;
  width:120vw;
  height: 52vh;
  border-radius: 60% 75% 0 0;
}

.hill2{
  background-color: var(--dGreenHill);
  position: fixed;
  z-index: -1;
  bottom: -5vw;
  right:-40vw;
  width:120vw;
  height: 58vh;
  border-radius: 80% 65% 0 0;
}

.hill3{
  display: none;
}

.taskSign{
  background-color: var(--sign);
  border: solid 0.5em var(--sign);
}

.tasky{
  max-width: 8em;
}

main.task{
  background-color: var(--wood);
  border: solid 0.5em var(--sign);
  padding: 1em;
  height: 100%;
  width: 100%;
  margin: 0.5em;
}

@media screen and (min-width:750px){
  .hill1{
    bottom: -3vh;
    height: 55vh;
    border-radius: 80% 115% 0 0;
  }
  
  .hill2{
    bottom: -4vw;
    width:110vw;
  }
}

@media screen and (min-width:950px){
  .hill1{
    bottom: -3vh;
    left:-8vw;
    width:80vw;
    height: 56vh;
    border-radius: 150% 220% 0 0;
  }
  
  .hill2{
    bottom: -3vw;
    right:-22vw;
    width:80vw;
    height: 59vh;
    border-radius: 80% 65% 0 0;  
  }

  .hill3{
    display: block;
    background-color: var(--lGreenHill);
    position: fixed;
    z-index: 0;
    bottom: 0;
    right:-25vw;
    width: 60vw;
    height:35vh;
    border-radius: 90% 85% 0 0;
  }
}