*{
  box-sizing: border-box;
  --blueSky: #92EBFF;
  --cloud: #FFFFFF;
  --lGreenHill: #57BC60;
  --dGreenHill: #3F7743;
  --sign: #FAF7F7;
  --wood: #885E3F;
  --dbText: #0F0633;
  --dpText: #3d082e;
  --blueGrayText: #2f2b50;


  font-family: "Jost", sans-serif;
  font-weight: 400;
}

nav ul, nav ol{
  list-style-type: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p, ul, ol{
  margin: 0;
  padding: 0;
  color: var(--dbText);
}

body{
  background-color: var(--blueSky);
}